@model Recommendations.ViewModels.CatalogItemPartialViewModel

<div class="row">
    @for (int i = 0; i < Model.MaxVisible; i++)
    {
        var catalogItem = Model.CatalogItems[i];

        <div class="@Model.ItemGridClass">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-nowrap" style="overflow: hidden;text-overflow: ellipsis;" data-toggle="tooltip" data-placement="bottom" title="@catalogItem.Title in @catalogItem.Colour for @catalogItem.Sell.ToString("c")" >
                        <a asp-action="CatalogItem" asp-controller="Home" asp-route-id="@catalogItem.Id">
                            @catalogItem.Title
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a asp-action="CatalogItem" asp-controller="Home" asp-route-id="@catalogItem.Id">
                                <img class="img-responsive" src="@catalogItem.ImageUrl" alt="@catalogItem.Title" />
                            </a>
                        </div>
                    </div>
                    @if (catalogItem.RecommendationRating > 0)
                    {
            <!--TO DO: Use a tag helper for this?-->
                        <span style="position: absolute;top: 40px;width: 100%;">@catalogItem.RecommendationRating.ToString("P", System.Globalization.CultureInfo.InvariantCulture)</span>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <span>@catalogItem.Sell.ToString("c")</span>
                        </div>
                        <div class="col-md-6">
                            <a asp-controller="Cart" asp-action="Add" asp-route-id="@catalogItem.Id" class="btn btn-default btn-sm pull-right">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>