@model CatalogItemViewModel

@{
    ViewData["Title"] = Model.CatalogItem.Title;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="@Model.CatalogItem.ImageUrl" alt="@Model.CatalogItem.Title" />
        </div>
        <div class="col-md-7">
            <p>ID: @Model.CatalogItem.Id</p>
            <p>Category: <a asp-controller="Home" asp-action="Category" asp-route-id="@Model.CatalogItem.Type">@Model.CatalogItem.Type</a></p>
            <p>Description: @Model.CatalogItem.Description</p>
            <p>Brand: <a asp-controller="Home" asp-action="Brand" asp-route-id="@Model.CatalogItem.Brand">@Model.CatalogItem.Brand</a></p>
            <p>Colour: @Model.CatalogItem.Colour</p>
            <p>Price: <price sell="@Model.CatalogItem.Sell" rrp="@Model.CatalogItem.Rrp" verbose="true"></price> </p>
            <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.CatalogItem.Id" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>



<h2>Recomendations <small>Based on this item</small></h2>
@Html.Partial("_CatalogItems", new CatalogItemsPartialViewModel() { CatalogItems = Model.Recommendations.ToList(), MaxVisible = 4, ItemGridClass = "col-md-3" })