@model Recommendations.ViewModels.HomeCatalogItemViewModel

@{
    ViewData["Title"] = Model.CatalogItem.Title;
}

<div class="jumbotron">
    <h1>@ViewData["Title"] <small>@Model.CatalogItem.Id</small></h1>
    <p>@Model.CatalogItem.Description</p>
    <p>@Model.CatalogItem.Price.ToString("c")</p>
    <a asp-action="index" class="btn btn-default">See all items</a> <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.CatalogItem.Id" class="btn btn-primary">Add to cart</a>
</div>



<h2>Recomendations</h2>
@if (Model.ITIItems.recommendedItems.Count() == 0)
{
    <p>There are no recommendations for this iten</p>
}
else
{
    @foreach (var recommendedItem in Model.ITIItems.recommendedItems)
    {
        <p><a asp-action="CatalogItem" asp-controller="Home" asp-route-id="@recommendedItem.items.FirstOrDefault().id"><strong>@recommendedItem.items.FirstOrDefault().name</strong></a> with a rating of '@Math.Round(recommendedItem.rating, 3)' because @recommendedItem.reasoning.FirstOrDefault()</p>
    }
}