@model Recommendations.ViewModels.HomeCatalogItemViewModel

@{
    ViewData["Title"] = Model.CatalogItem.Title;
}

<div class="jumbotron">
    <h1>@ViewData["Title"] <small>@Model.CatalogItem.Id</small></h1>
    <p>@Model.CatalogItem.Description</p>
    <p>@Model.CatalogItem.Price.ToString("c")</p>
    <a asp-action="index" class="btn btn-default">See all items</a> <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.CatalogItem.Id" class="btn btn-primary">Add to cart</a>
</div>



<h2>Recomendations</h2>
@if (Model.Recommendations.Count() == 0)
{
    <p>There are no recommendations for this iten</p>
}
else
{
    @foreach (var recommendation in Model.Recommendations)
    {
        <p><a asp-action="CatalogItem" asp-controller="Home" asp-route-id="@recommendation.Id"><strong>@recommendation.Title</strong></a> with a rating of @Math.Round(recommendation.RecommendationRating, 3)</p>
    }
}