@model CatalogItemViewModel

@{
    ViewData["Title"] = Model.CatalogItem.Title;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="@Model.CatalogItem.ImageUrl" alt="@Model.CatalogItem.Title" />
        </div>
        <div class="col-md-7">
            <p>ID: @Model.CatalogItem.Id</p>
            <p>Category: <a asp-controller="Home" asp-action="Category" asp-route-id="@Model.CatalogItem.Type">@Model.CatalogItem.Type</a> @if(!string.IsNullOrEmpty(Model.OutfitSection)){ <span>(</span>@Model.OutfitSection;<span>)</span> }</p>
            <p>Description: @Model.CatalogItem.Description</p>
            <p>Brand: <a asp-controller="Home" asp-action="Brand" asp-route-id="@Model.CatalogItem.Brand">@Model.CatalogItem.Brand</a></p>
            <p>Colour: @Model.CatalogItem.Colour</p>
            <p>Price: <price sell="@Model.CatalogItem.Sell" rrp="@Model.CatalogItem.Rrp" verbose="true"></price> </p>
            <a href="@Model.OnlineLink" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Not all items are still active or in stock">View on JD Sports</a>
            <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.CatalogItem.Id" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add to cart</a>
        </div>
    </div>
</div>

@if (Model.Outfit.Count() > 0)
{
    <hr />
    <h2>Complete the outfit</h2>
    <p>Recommended items to make up an outfit</p>
    @Html.Partial("_CatalogItems", new CatalogItemsPartialViewModel() { CatalogItems = Model.Outfit.ToList(), MaxVisible = 4, ItemGridClass = "col-md-3" })
}

<hr />
<h2>You may also like</h2>
<p>Customers that bought this item also bought these items</p>
@Html.Partial("_CatalogItems", new CatalogItemsPartialViewModel() { CatalogItems = Model.Recommendations.ToList(), MaxVisible = 4, ItemGridClass = "col-md-3" })