@model HomeCategoryViewModel

@{
    ViewData["Title"] = Model.CategoryName;
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>Showing all items in this category</p>
    <p>Click an item to see details and recommendations</p>
</div>

@Html.Partial("_CatalogItems", new CatalogItemPartialViewModel() { CatalogItems = Model.CatalogItems.ToList(), MaxVisible = Model.CatalogItems.Count(), ItemGridClass = "col-md-4" })

<hr />
<p><a asp-action="Category" asp-controller="home" asp-route-page="@Model.PreviousPage">< Previous</a> @Model.CurrentPage of @Model.TotalPages <a asp-action="Category" asp-controller="home" asp-route-page="@Model.NextPage">Next ></a></p>
