@model BookRecommendations.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>Cart data is stored in session state so will be discarded when the browser is closed.</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Sku</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Total Price</td>
            <td>Remove</td>
        </tr>
    </thead>
    @foreach (var cartItem in Model.CartItems)
    {
        <tr>
            <td><a asp-action="Sku" asp-controller="Home" asp-route-id="@cartItem.Sku.Id"><strong>@cartItem.Sku.Title</strong> by @cartItem.Sku.Author</a></td>
            <td>@cartItem.Quantity</td>
            <td>@cartItem.Sku.Price.ToString("c")</td>
            <td>@((cartItem.Sku.Price * cartItem.Quantity).ToString("c"))</td>
            <td><a asp-action="Remove" asp-controller="Cart" asp-route-id="@cartItem.Sku.Id" class="btn btn-default btn-xs">Remove</a></td>
        </tr>
    }
    <tfoot>
        <tr>
            <td></td>
            <td><strong>@Model.TotalQuantity</strong></td>
            <td></td>
            <td><strong>@Model.TotalPrice.ToString("c")</strong></td>
            <td></td>
        </tr>
    </tfoot>
</table>



@if (Model.CartItems.Count <= 0)
{
    <p>Cart is empty</p>
}
