@model BookRecommendations.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>Cart is stored in session state so will be discarded when the browser is closed.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <td>Sku</td>
            <td>Quantity</td>
            <td>Remove</td>
        </tr>
    </thead>
    @foreach (var cartItem in Model.CartItems)
    {
        <tr>
            <td><a asp-action="Sku" asp-controller="Home" asp-route-id="@cartItem.Sku.Id"><strong>@cartItem.Sku.Title</strong> by @cartItem.Sku.Author</a></td>
            <td>@cartItem.Quantity</td>
            <td><a asp-action="Remove" asp-controller="Cart" asp-route-id="@cartItem.Sku.Id">Remove</a></td>
        </tr>
    }
</table>



@if (Model.CartItems.Count <= 0)
{
    <p>Cart is empty</p>
}
