@model BookRecommendations.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>You shopping cart</p>
</div>

@foreach (var book in Model.Books)
{
    <p><a asp-action="Book" asp-controller="Home" asp-route-id="@book.Id"><strong>@book.Title</strong> (@book.Author, @book.Year, @book.Publisher)</a></p>
}

@if (Model.Books.Count <= 0)
{
    <p>Cart is empty</p>
}
