@model CartIndexViewModel

@{
    ViewData["Title"] = "Cart";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>Cart data is stored in session state so will be discarded when the browser is closed.</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Image</td>
            <td>Item</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Total Price</td>
            <td>Remove</td>
        </tr>
    </thead>
    @foreach (var cartItem in Model.Cart.CartItems)
    {
        <tr>
            <td>
                <a asp-action="CatalogItem" asp-controller="Home" asp-route-id="@cartItem.CatalogItem.Id">
                    <img class="cart-summary-image" src="@cartItem.CatalogItem.ImageUrl" alt="@cartItem.CatalogItem.Title" />
                </a>
            </td>
            <td>
                <a asp-action="CatalogItem" asp-controller="Home" asp-route-id="@cartItem.CatalogItem.Id">
                    @cartItem.CatalogItem.Title
                </a>
            </td>
            <td>@cartItem.Quantity</td>
            <td>@cartItem.CatalogItem.Sell.ToString("c")</td>
            <td>@((cartItem.CatalogItem.Sell * cartItem.Quantity).ToString("c"))</td>
            <td><a asp-action="Remove" asp-controller="Cart" asp-route-id="@cartItem.CatalogItem.Id" class="btn btn-default btn-xs">Remove</a></td>
        </tr>
    }
    @if (Model.Cart.CartItems.Count <= 0)
    {
        <tr>
            <td colspan="5">Cart is empty</td>
        </tr>
    }
    <tfoot>
        <tr>
            <td></td>
            <td><strong>@Model.Cart.TotalQuantity</strong></td>
            <td></td>
            <td><strong>@Model.Cart.TotalPrice.ToString("c")</strong></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<hr />
<h2>Free shipping on orders over @Model.FreeShippingThreshold.ToString("c")</h2>
@if (Model.Cart.TotalPrice >= Model.FreeShippingThreshold)
{
    <p>Your order qualifies for free shipping</p>
}
else
{
    <p>You need to spend another @((Model.FreeShippingThreshold - Model.Cart.TotalPrice).ToString("c")) to qualify for free shipping.</p>
    @if (Model.RecommendationsForFreeShipping.Count() > 0)
    {
        <p>Try these suggestions to top your cart up to @Model.FreeShippingThreshold.ToString("c")</p>
        @Html.Partial("_CatalogItems", new CatalogItemsPartialViewModel() { CatalogItems = Model.RecommendationsForFreeShipping.ToList(), MaxVisible = 4, ItemGridClass = "col-md-3" })

    }
}

@if (Model.Recommendations.Count() > 0)
{
<hr />
<h2>You may also like</h2>
<p>Recommendations based on cart contents</p>
@Html.Partial("_CatalogItems", new CatalogItemsPartialViewModel() { CatalogItems = Model.Recommendations.ToList(), MaxVisible = 4, ItemGridClass = "col-md-3" })
}



